/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

.stranka {
  width: 100%;
}

.recepty {
    display: flex;
    flex-direction: column;
}

.hlavni {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/salat.jpg");
    background-color:  rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    margin-bottom: 1Px;
 
}

.maly {
    display: flex;
    flex-direction: column;
    min-height: 90px;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    margin-bottom: 1px;
}

.recept2 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/chlebicek.jpg");
    background-position: center;
    background-size: cover;
   
}

.recept3 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/cizrna.jpg");
    background-position: center;
    background-size: cover;
}

.recept4 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/tacos.jpg");
    background-position: center;
    background-size: cover;
}

.recept5 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/burger.jpg");
    background-position: center;
    background-size: cover;
}

.recept-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-shadow: 2px 3px 2px black;
}

.nazev {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 800;
    padding-left: 10px;
    padding-bottom: 10px;
  
}

.hlavni .nazev {
    font-size: 28px;
    text-shadow: 2px 1px 3px black;
    padding-bottom: 10px;
}

.rubrika, .komentare {
    padding: 10px;
    padding-bottom: 0px;
}

@media (min-width: 480px) and (max-width: 860px) {

.hlavni {
    min-height: 250px;
    
}
.maly {
    min-height: 150px;
    margin-right: 0px;

}
.hlavni .nazev {
    font-size: 36px;
    padding: 20px;
}

.nazev {
    font-size: 22px;
    padding: 20px;
}

.stranka {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.recepty {
    display: flex;
    flex-direction: row;
    
}

.sloupec1 {
    flex-basis: 50%;
    margin-right: 1Px;
}

.sloupec2 {
    flex-basis: 50%;
}

.rubrika, .komentare {
    padding: 20px;
    
}

}

@media (min-width: 860px) {

.stranka {
    display: flex;
    flex-direction: row;
    

}

.recepty {
    display: flex;
    flex-direction: row;
    flex: 1 1 50%;
   
}

.sloupec1 {
 
    flex-basis: 50%;
}

.sloupec2 {
    flex-basis: 50%;
}

.hlavni {
    min-height: 400px;
    flex-basis: 50%;
    margin-right: 1Px;
    
}
.maly {
    min-height: 200px;
    margin-right: 1px;
    
}

.vsechno {
    display: flex;
    flex-direction: column;
}

.hlavni .nazev {
    font-size: 48px;
    padding: 20px;
}

.nazev {
    font-size: 28px;
    padding: 20px;
}


}
